{% extends "base_generic.html" %}


{% block content %}

<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h3>Delete selections</h3>
            <hr>
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <form method="POST" id="delete-form">
                <div class="alert alert-danger">
                    <h4>Are you sure, you want to delete compounds ?</h4>
                </div>
                {% csrf_token %}
                {{ form }}
                <a class="btn btn-secondary btn-sm" href="{% url 'manage-compounds' %}">Cancel</a>
                <input class="btn btn-danger btn-sm" type="submit" value="Confirm">
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    // Add confirmation step before deleting compounds
    document.getElementById('delete-form').addEventListener('submit', function(event) {
        var confirmed = confirm("Are you sure you want to delete these compounds?");
        if (!confirmed) {
            event.preventDefault();
        }
    });
</script>
{% endblock %}