{% extends "base_generic.html" %}
{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <!--autologout (5)-->
            <div class="card-body">

                {% if form.errors %}

                    <div class="alert alert-danger align-items-center" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                        Your username and password didn't match. Try again
                    </div>

                {% endif %}

                {% if next %}
                {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
                {% else %}
                <p class="text-muted" >Please login to see this page.</p>
                {% endif %}
                {% endif %}

                <div class="card-title py-3">
                  <h4>Login to your  account</h4>
                </div>
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% for message in messages %}
                    <div class="message text-center alert alert-info {{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}

                    <div class="form-group">
                      <input class="form-control form-control-sm" class="ms-1 border border-2" type="text" id="username" name="username" placeholder="username">
                    </div>
                    <br>

                    <div class="form-group">
                      <input class="form-control form-control-sm" type="password" id="password" name="password" placeholder="Password">
                    </div>

                    <div class="mt-4" >
                    <input class="btn btn-block btn-success submit-btn" type="submit" value="Login">
                    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? Contact Admin</p>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>



{% endblock %}